
<div class="container">
  <h1>Create your pet</h1>
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :specie, collection: Pet::SPECIES %>
    <%= f.input :phone %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>